<%- if flash[:notice] %>
  <%= flash[:notice] %>
<%- end %>
<h1>What's happening?</h1>
<%= render 'form' %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    
    <td><%= tweet.post %></td>
<!--<td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td> -->
    <td><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Do you want to delete your tweet?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%-# link_to 'New Tweet', tweets_path %>